@font-face {
  font-family: "Ranade-Regular";
  src:
    url("../fonts/Ranade-Regular.woff2") format("woff2"),
    url("../fonts/Ranade-Regular.woff") format("woff"),
    url("../fonts/Ranade-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Ranade-Regular";
  src:
    url("../fonts/Ranade-Regular.woff2") format("woff2"),
    url("../fonts/Ranade-Regular.woff") format("woff"),
    url("../fonts/Ranade-Regular.ttf") format("truetype");
  background-color: rgb(255, 195, 135);
  color: rgb(52, 10, 15);
}

a {
  color: rgb(148, 222, 227);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
