/***********************************/
/* CODE VOOR DE FONTS - @FONT-FACE */
/***********************************/

/* jouw code hier */
/* alle fonts (@font-face's) zet je bovenaan je css */
/* kijk even naar oefening 1 hoe je @font-face gebruikt */
@font-face {
  src: url("fonts/Montserrat-Thin.ttf");
  font-family: "Montserrat";
  font-weight: 100;
}
@font-face {
  src: url("fonts/SairaCondensed-Bold.ttf");
  font-family: "SairaCondensed";
  font-weight: 700;
}

/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* hiermee selecteer je de eerste li */
li:nth-of-type(1) {
  /* h2 in het midden van de li */
  /* hoef je nu nog niet te snappen - mag wel ;-) */
  display: grid;
  place-items: center;
  background-color: rgb(0 24 54); /* → donkerblauw */
  /* jouw code hier */
}

/* hiermee selecteer je de h2 in de eerste li */
li:nth-of-type(1) h2 {
  /* de h2 wordt zo smal als het langste woord */
  /* daardoor staat elk woord op een nieuwe regel */
  width: min-content;
  /* en dan gecentreerd */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 100;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  text-shadow:
    0 0 0.01em cyan,
    0 0 0.2em cyan,
    0 0 0.3em cyan,
    0 0 0.4em cyan;
  /* jouw code hier */
}

/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

li:nth-of-type(2) {
  /* h2 in het midden van de li */
  display: grid;
  place-items: center;
  background-color: rgb(230 127 138);
  /* jouw code hier */
}

li:nth-of-type(2) h2 {
  width: min-content;
  text-align: center;
  font-family: "SairaCondensed";
  font-size: 3em;
  font-weight: 700;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: rgb(0 0 0 / 0.5) 5px 5px;
  letter-spacing: 0.1em;
  text-align: center;
  transform: skewY(-10deg);
  /* jouw code hier */
}

/*************************************/
/* BASIS - HOEF JE NIETS MEE TE DOEN */
/*************************************/

@layer basis {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  header,
  main {
    width: min(100%, 30rem);
    margin-inline: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: "";
    display: grid;
    gap: var(--template-size-whitespace);
  }

  li {
    height: clamp(14em, 80vw, 18em);
    background-color: white;
    border-radius: 1em;
    color: black;
  }
}
